@import url("./global.css");

/* --- Header --- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 139px;
    padding: 46px 0;
    background-color: var(--color-secondary);
}

.container-nav-header ul{
    display: flex;
    gap: 45px;
    list-style: none;
}

.container-nav-header ul li a{
    text-decoration: none;
    color: var(--color-neutral-white);
    font-family: var(--font-family-primary);
    font-size: var(--font-size-body);
}

.btn-header{
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    background-color: var(--color-primary);
    border-radius: 10px;
}

.btn-header a{
    color: var(--color-neutral-white);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    font-family: var(--font-family-primary);
    text-decoration: none;
}

/* --- Section Main --- */

main{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0;
    background-color: var(--color-secondary);
    border-top: 2px solid var(--color-primary);;
    font-family: var(--font-family-primary);
}

.main-content{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}

.main-content h1{
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-h1);
    color: var(--color-neutral-white);
    width: 499px;
}

.main-content h1 span{
    color: var(--color-primary);
}

.main-content p{
    color: var(--color-neutral-white);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    width: 497px;
}

.btn-main{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    gap: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    width: 139px;
}

.btn-main a{
    text-decoration: none;
    color: var(--color-neutral-white);
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
}

/* --- Section financial control --- */

.section-financial-control{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 60px 0;
    font-family: var(--font-family-primary);
}

.financial-control-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 607px;
}

.financial-control-content h2{
    color: var(--color-secondary);
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
}

.financial-control-content h2 span{
    color: var(--color-primary);
}

.financial-control-content p{
    color: var(--color-secondary);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
}

/* --- Section financial evolution --- */
.section-financial-evolution{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px;
    padding: 60px 0;
    background-color: var(--color-secondary);
    font-family: var(--font-family-primary);
}

.financial-evolution-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 730px;
}

.financial-evolution-content h2{
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-h2);
    color: var(--color-neutral-white);
}

.financial-evolution-content h2 span{
    color: var(--color-primary);
}

.financial-evolution-content p{
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    color: var(--color-neutral-white);
    text-align: center;
}

/* --- Footer --- */

footer{
    display: flex;
    justify-content: center;
    gap: 126px;
    padding: 80px 0;
    font-family: var(--font-family-primary);
    background-color: var(--color-secondary);
    border-top: 1px solid var(--color-neutral-white);
}

.footer-content{
    display: flex;
    gap: 50.67px;
}

.footer-informations{
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--color-neutral-white);
}

.footer-informations h2{
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
}

.footer-informations ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.footer-informations ul li a{
    color: var(--color-neutral-white);
    text-decoration: none;
    font-size: var(--font-size-body);
    font-weight: var(--font-size-body);
}

.footer-subscribe{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    color: var(--color-neutral-white);
}

.footer-subscribe h2{
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-button);
    width: 198px;
}

.footer-subscribe form{
    display: flex;
    flex-direction: row;
    width: 385px;
    border-bottom: 0.5px solid #4D4D4D;
    padding: 0px 0px 16px;
}

.footer-subscribe form input{
    display: flex;
    flex-direction: column;
    border: 0px;
    padding: 10.5px 0;
    color: var(--color-neutral-white);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
    width: var(--font-weight-body);
    background-color: var(--color-secondary);
    width: 345px;
}

.footer-subscribe form input:focus {
  outline: none;
}

.footer-subscribe form input::placeholder{
    color: var(--color-neutral-white);
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-body);
}

.footer-subscribe form button{
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 360px;
}

.footer-subscribe form button img{
    width: 18px;
}

.footer-subscribe form button:hover{
    background-color:  #b879f7;
    cursor: pointer;
}
